*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
  }
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #080808;
}
::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: #b54769;
}
::-webkit-scrollbar-track :hover{
    background: #fff;
    width: 30px;

}
body{
    background: #080808;
    color: #fff;
    font-family: 'ubuntu', sans-serif;
}
.header-text{
    width:100%;
    height:100vh;
    background-image: url(./project1/photo_2022-10-12_12-07-28.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.home .home-content{
    width:90%;
    height:100%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
nav{
    position:fixed;
    width:100%;
    padding:20px 0;
    z-index: 999;
    transition: all 0.3s ease;
  }
  nav.sticky{
    background:#262626;
    padding:13px 0;
  }
.logo{
    opacity: .6;
}
nav .navbar{
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
  }
  nav .navbar .logo a{
    font-weight: 500;
    font-size: 35px;
    color:#695f62;
  }
  
  nav.sticky .navbar .logo a{
    color:#fff;
  }
  
  nav .navbar .menu{
    display:flex;
    position:relative;
  }
  nav .navbar .menu li{
    list-style: none;
    margin:0 8px;
  }
  nav .navbar .menu a{
    font-size: 18px;
    font-weight: 500;
    color:#fff;
    padding:6px 0;
    transition: all 0.4s ease;
  }
  .navbar .menu a:hover{
    color:#ff004f;
  }
  nav.sticky .menu a{
    color:#fff;
  }
  nav.sticky .menu a:hover{
    color:#ababab;
  }
  .navbar .media-icons a{
    color:#ff004f;
    font-size: 18px;
    margin:0 6px;
  }
  .navbar .media-icons a:hover{
    color:#fff;
  }
  nav.sticky .media-icons a{
    color:#fff;
  }
  
  /* side navigation Menu Button CSS */
  nav .menu-btn,
  .navbar .menu li .cancel-btn{
    position:absolute;
    color:#fff;
    right:30px;
    top:20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
  }
  nav .menu-btn{
    color:#ff004f;
  }
  nav.sticky .menu-btn{
    color:#fff;
  }
  .navbar .menu .menu-btn{
    color:#fff;
  }

  .home{
    height:100vh;
    width:100%;
    background:url(./project1/photo_2022-10-12_12-07-28.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .home .home-content{
    width:90%;
    height:100%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .home .text-one{
    font-size:25px;
    color:#fff;
  }
  .home .text-two{
    color:#fff;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
  }
  .home .text-three{
    font-size: 40px;
    margin:5px 0;
    color:#ff004f;
  }
  .home .text-four{
    font-size: 23px;
    margin:5px 0;
    color:#fff;
  }
  .home .button{
    margin:14px 0;
  }
  .home .button button{
    outline:none;
    padding:8px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    background:#ff004f;
    color:#fff;
    cursor:pointer;
    border:2px solid transparent;
    transition: all 0.4s ease;
  }
  .home .button button:hover{
    border-color:#ff004f;
    background-color: #fff;
    color:#ff004f;
  }

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display:flex;
     justify-content: space-between;
     flex-wrap:wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width:100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis:60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
}
.tab-titles{
    display: flex;
    margin:20px 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position:relative;
}
.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition:0.5s;
}
.tab-links:hover::after{
    width:100%;
}     
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style:none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*------------services------*/
#services{
    padding: 30px 0px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 10px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight:300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background:#5c021d;
    transform: translateY(-10px);
}
#porfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 10px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow:hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display:block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#050505fb);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align:center;
    font-size:14px;
    transition:height 0.5s;
}
.layer h3{
    font-weight:500;
    margin-bottom:20px;
}
.layer a{
    margin-top: 20px;
    color:#ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background:#fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height:100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border:1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:#fff;
    transition: background 0.5s;

}
.btn:hover{
    background: #5c021d;
}
/*----------contact-----*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
}
.social-icons a:hover{
    color:#ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    color: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{

padding: 14px 60px;
font-size: 18px;
margin-top: 20px;
cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.scroll-button a{
    position:fixed;
    bottom:20px;
    right:20px;
    color:#fff;
    background:#383737;
    padding:10px 12px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,0.15);
    display:none;
  }
  
/*------------------------css for small screen-----------*/
nav .fas{
    display: none;
}
@media only screen and (max-width:600px){
    #header{
        background-image: url();
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px ;
        z-index: 2 ;
        transition: right 0.5s;
     }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px; 
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left.contact-right{
        flex-basis: 100%;
    }
}